#grid-container {
    display: grid;
    height: 500px;
    width: 500px;
    margin-bottom: .5rem;
    border: 1px solid black;
}

body {
    display: inline-flex;
    flex-direction: column;
}

legend {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#control {
    display: flex;
    justify-content: space-around;
    align-content: right;
    flex: 1;
    justify-content: right;
}

fieldset {
    border: 2px solid black;
}

.grid-item {
}

.border {
    border: 1px solid black;
}

.grid-item.black {
    background-color: black;
}
